{% extends 'base.html' %}

{% block content %}
	<h1>JOIN TODAY!</h1>
    <h3>Welcome to player login</h3>

    <form action="/playerlogin" method="POST">
       {% csrf_token %} 
        <div class="mb-3">
            <input type="text" class="form-control" aria-describedby="emailHelp" placeholder="Username" name="user">
        </div>
        
        <div class="mb-3">
            <input type="password" class="form-control" aria-describedby="emailHelp" placeholder="Password" name="passwd">
        </div>


        <button type="submit" class="btn btn-secondary" name='playerpage'>Sign In</button>
        <button type="submit" class="btn btn-secondary" name = 'register'> <a href="/register">Register</a></button> 

    </form>

{% endblock %}